<form class="form-add-produc" action="" method="POST">
    <div class="mb-4 text-center">
        <h1>Agregando producto</h1>
    </div>
        <section class="form-add">
      <h5>Iniciar sesión</h5>
      <input class="controls" type="idProducto"    name="idProducto"      id="ipducto"      placeholder="Producto"          required>
      <input class="controls" type="name" name="name"   id="name"   placeholder="Nombre"                  required>
      <input class="controls" type="Price" name="Price"   id="price"   placeholder="Precio"                  required>
      <input class="controls" type="quantity" name="quantity"   id="quantity"   placeholder="Cantidad"                  required>
      <input class="controls" type="description" name="description"   id="description"   placeholder="Descripción"                  required>
      <input class="controls" type="image" name="image"   id="image"   placeholder="Imagen"                  required>
      <button class="buttons" type="submit">Agregar Producto</button>
    </section>
</form>
