<div class="container">
    <h1>Productos</h1>
{{#if productos}}
    {{#each productos}}
    <p class="card-text">{{dataValues.name}}</p>
    {{/each}}
{{/if}}
{{#else}}
<h2>no hay productos</h2>
{{/else}}
</div>
<form class="form-add-produc" action="/agregar_producto" method="POST">
    <div class="mb-4 text-center">
        <h1>Agregando producto</h1>
    </div>
       <div class="container">
            <section class="form-add-products">
      <input class="controls" type="text" name="name"   id="name"   placeholder="Nombre"  required>
      <input class="controls" type="text" name="price"   id="price"   placeholder="Precio" required>
      <input class="controls" type="text" name="quantity"   id="quantity"   placeholder="Cantidad" required>
      <input class="controls" type="text" name="description"   id="description"   placeholder="Descripción"                  required>
      <input class="controls" type="text" name="image"   id="image"   placeholder="Imagen"required>
      <button class="buttons" type="submit">Agregar Producto</button>
    </section>
       </div>
</form>

