
<form class="form-signin-clientes" action=" " method="POST">
  <div class="mb-4 text-center session-sign">
        <h1>Formulario de pagar</h1>
        <p>Gracias por comprar en nuestra tienda virtual, fue un placer atenderte.</p>
        <p>¡Te esperamos!</p>
    </div>
    <section class="form-login-customer pay" style="background-color: white; width:23%;  ">
      <div class="title content" style="text-align: center; padding-left:auto;">
      <input class="controls" type="text"    name="cardNumber"    id="cardNumber"    placeholder="Número de tarjeta"    required>
     </div>
     <div class="title content" style="text-align: center; padding-left:auto;">
      <input class="controls" type="text"    name="name"    id="name"    placeholder="Nombre completo"    required>
     </div>
     <div class="title content" style="text-align: center; padding-left:auto;">
      <input class="controls" type="text"    name="dateexpired"    id="dateexpired"    placeholder="MM/DD"    required>
      <input class="controls" type="text"    name="cod"    id="cod"    placeholder="CVC"    required>
     </div>
     <div class="title content" style="text-align: center; padding-left:auto;">
       <a class="buttons-a" href="Recibo_pagado" >Pagar</a>
     </div>
    </section>
    
 
</form>