<form class="form-signin-clientes" action="/inicio_sesion" method="POST">
{{!-- Alertas --}}
   {{>messages}}
    <div class="mb-4 text-center">
        <h1>Iniciar sesi칩n como cliente en Tienda Virtual</h1>
        <p>Bienvenido a la mejor tienda virtual</p>
    </div>
    <section class="form-login-customer">
      <h5>Iniciar sesi칩n</h5>
      <input class="controls" type="email"    name="email"    id="email"    placeholder="Correo Electronico"    required>
      <input class="controls" type="password" name="password" id="password" placeholder="Contrase침a"            required>
      <button class="buttons" type="submit" >Iniciar sesi칩n</button>
    </section>
</form>