<form class="form-signin-clientes" action=" " method="POST">
 {{>messages}}
    <div class="mb-4 text-center session-sign">
        <h1>Iniciar sesi칩n en Tienda Virtual</h1>
        <p>Bienvenido al mejor restaurante</p>
    </div>
    <section class="form-login-customer inicio">
      {{!-- Alertas --}}
  
      <div class="title content">
        <h5>Iniciar sesi칩n</h5>
      <input class="controls" type="email"    name="email"    id="email"    placeholder="Correo Electronico"    required>
      <input class="controls" type="password" name="password" id="password" placeholder="Contrase침a"            required>
      <button class="buttons" type="submit" >Iniciar sesi칩n</button>
       <a class="buttons-a" href="/registro" >Registrate</a>
     
     </div><div class="image">
        <h1>Disfruta de nuestras comidas</h1>
        <h2>La mejor comida de la ciudad</h2>
      </div>
    </section>
    
 
</form>