{{#if error}}
    <p>{{error}}</p>
{{/if}}

<form class="form-signin" action="/registrate" method="POST">
    <div class="mb-4 text-center">
        <h1>Registrarse en Tienda Virtual</h1>
        <p>Bienvenido a la mejor tienda virtual</p>
    </div>
    <section class="form-login">
      <h5>Registrarse</h5>
      <input class="controls" type="text" name="correo" value="" placeholder="Nombre Completo">
      <input class="controls" type="text" name="usuario" value="" placeholder="Correo Electronico">
      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
      <input class="controls" type="telefono" name="telefono" value="" placeholder="Telefono">
      <input class="controls" type="direccion" name="direccion" value="" placeholder="Dirección">
      <input class="buttons" type="submit" name="" value="Registrar">
    </section>
</form>