

<form class="form-signin-Administrador" action="/registrate_administrador" method="POST">
    <div class="mb-4 text-center">
        <h1>Registrarse como administrador en Tienda Virtual</h1>
        <p>Bienvenido a la mejor tienda virtual</p>
    </div>
    <section class="form-login-Administrador">
      <h5>Registrarse</h5>
      <input class="controls" type="text"     name="fullname"   id="fullname"   placeholder="Nombre Completo"     required>
      <input class="controls" type="email"    name="email"      id="email"      placeholder="Correo Electronico"  required>
      <input class="controls" type="password" name="password"   id="password"   placeholder="Contraseña"          required>
      <input class="controls" type="text"     name="codeAccess" id="codeAccess" placeholder="Token"               required>
      <button class="buttons" type="submit">Registrarse</button> 
    </section>
</form>