{{#if error}}
    <p>{{error}}</p>
{{/if}}

<form class="form-signin-Administrador" action="/registrate_administrador" method="POST">
    <div class="mb-4 text-center">
        <h1>Registrarse como administrador en Tienda Virtual</h1>
        <p>Bienvenido a la mejor tienda virtual</p>
    </div>
    <section class="form-login-Administrador">
      <h5>Registrarse</h5>
      <input class="controls" type="text" name="fullname" value="" placeholder="Nombre Completo">
      <input class="controls" type="text" name="Correo" value="" placeholder="Correo Electronico">
      <input class="controls" type="password" name="password" value="" placeholder="Contraseña">
      <input class="controls" type="token" name="tokenAdmin" value="" placeholder="Token">
      <input class="buttons" type="submit" name="" value="Registrar">
    </section>
</form>