{{#if error}}
    <p>{{error}}</p>
{{/if}}

<form class="form-signin" action="/registrate" method="POST">
    <div class="mb-4 text-center">
        <h1>Registrarse como cliente en Tienda Virtual</h1>
        <p>Bienvenido a la mejor tienda virtual</p>
    </div>
    <section class="form-login">
      <h5>Registrarse</h5>
      <input class="controls" type="text"     name="fullname"    id="fullname"    placeholder="Nombre Completo"    required>
      <input class="controls" type="email"    name="email"       id="email"       placeholder="Correo Electronico" required>
      <input class="controls" type="password" name="password"    id="password"    placeholder="Contraseña"         required>
      <input class="controls" type="text"     name="address"     id="address"     placeholder="Dirección"          required>
      <input class="controls" type="text"     name="phoneNumber" id="phoneNumber" placeholder="Telefono"           required>
      <button class="buttons" type="submit">Registrarse</button>
    </section>
</form>