<header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-30 col-lg-30">
                            <div class="main-menu d-none d-lg-block">
                                <nav class="nav1">
                                    <form class="form-inline my-2 my-lg-0 navbarformcolor">
                                        <input class="form-control mr-sm-2" type="search" placeholder="Nombre del producto" aria-label="Search">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar platos</button>
                                    </form>
                                    <ul id="navigation">
                                        <li><a class="active" href="/inicio">Inicio</a><span class="sr-only">(current)</span></li>
                                        <li><a href="/menu">Menú</a><span class="sr-only">(current)</span></li>
                                        <li><a href="about.html">Nosotros</a></li>
                                        <li><a href="/registro">Agregar Cliente</a><span class="sr-only"(current)></span></li>
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/ver_productos">Platos<span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/inicio_sesion">Mi cuenta</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Cerrar sesión</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Carrito de compras</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Acerca de...</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <form action="/resetear_password/{{token}}" method="POST">
        <div class="card-header">
            <h4>Cambiar tu contraseña</h4>
        </div>
        <p class="text-center">Ingresa tu contraseña</p>
        <div class="card-body">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="material-icon"><i>lock_outline</i></span>
                </div>
                <input type="password" class="form-control" name="password" id="password" placeholder="contrasena" required>
            </div>
        </div>
        <div class="text-center">
            <a href="/inicio_sesion" class="buttons">Ir al inicio de sesión</a>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Cambiar</button>
        </div>
    </form>
