<div class="row mx-auto text-center ml-auto">
    <div class="add-products-item">
<form action="/resetear_password/{{token}}" method="POST">
<div class="mb-4 text-center">
    <div class="card-header">
        <h4 class="header text-white">Cambiar tu contrase침a</h4>
    </div>
    <div class="card card-view-products">
            <div class="items-products">    
    <p class="text-center">Ingresa tu contrase침a</p>
    <div class="card-body">
 
            <input type="password" class="form-control" name="password" id="password" placeholder="contrasena" required>
    </div>
    
    <div class="text-center">
            <button class="buttons" type="submit">Cambiar contrase침a</button>
    </div>
    <div class="text-center">
        <a href="/inicio_sesion" class="buttons">Ir al inicio de sesi칩n</a>
    </div>
</form>
    </div></div>