<div class="row mx-auto text-center ml-auto">
  <div class="add-products-item">
    <form class="form-signin-clientes" action=" " method="POST">
      {{!-- Alertas --}}
      {{>messages}}
      <div class="mb-4 text-center ">
        <h1 class="card-header text-white">Restablecer tu contraseña</h1>
      </div>
      <div class="card card-view-products">
        <div class="items-products">
          <div class="title content" style="width: 100%; margin-left: 5%;">
            <h5 style="font-size: 36px;">Correo</h5>
            <div><input class="controls" type="email" name="email" id="email" placeholder="Correo Electrónico" required>
            </div>
            <button class="buttons" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>