<form class="form-signin-clientes" action=" " method="POST">
 {{>messages}}
    <div class="mb-4 text-center session-sign">
        <h1>Restablecer tu contraseña</h1>
    </div>
    <section class="form-login-customer inicio" style="width: 40% ;height: 90%;";>
      {{!-- Alertas --}}
  
      <div class="title content" style="width: 100%; margin-left: 5%;">
        <h5 style="font-size: 36px;">Correo</h5>
      <div><input class="controls" type="email"    name="email"    id="email"    placeholder="Correo Electronico"    required></div>
      <button class="buttons" type="submit" >Enviar</button>
     </div>
    </section>
    
 
</form>