<form class="form-signin-clientes" action=" " method="POST">
 {{>messages}}
    <div class="mb-4 text-center session-sign">
        <h1>Restablece tu contraseña con nosotros</h1>
    </div>
    <section class="form-login-customer inicio">
      {{!-- Alertas --}}
  
      <div class="title content">
        <h5>Restablecer</h5>
        <p>¡Hola {{fullname}}! Has solicitado reestablecer tu contraseña, haz clic en el botón inferior para restablecer tu contraseña.</p>
        <p>Este enlace es temporal, así que si se vence, vuelve a solitarlo.</p>

        <a href="{{resetUrl}}">Restablece tu contraseña</a>

        <p>Si no puedes acceder al enlace, copiar el siguiente enlace una pestaña del navegador: {{resetUrl}}</p>
        <p>Si no solicitaste restablecer tu contraseña, puedes ignorar este correo.</p>
      </div>
    </section>
    
 
</form>